<div class="container clearfix" style="height: auto;">
	<div class="row">
		<div class="park-name col-12">
			<h2><%= @park.name %>
			  <small class="text-muted">in <%= @park.country.name %></small><%= link_to 'Delete', park_path(@park), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-delete" %><%= link_to 'Edit', edit_park_path(@park), class:"btn" %></h2>
		</div>
	</div>
	<div class="row justify-content-center">
		<% if @park.images.attached? %>
			<% @park.images.each do |image| %>
				<%= image_tag image.variant(resize: "300x300"), class:"image" %>
			<% end %>
		<% end %>
	</div>
	<div class="row justify-content-center clearfix">
		<div class="table-header col-11"><h5>基本情報</h5></div>
		<table class="table table-hover col-12">
			<tbody>
				<tr>
					<th class="active">住所</th>
					<td><%= @park.zip %><br>
						<%= @park.address %>
					</td>
				</tr>
				<tr>
					<th class="active">電話番号</th>
					<td><%= @park.tel %></td>
				</tr>
				<tr>
					<th class="active">使用可能時間</th>
					<td><%= @park.open_time %></td>
				</tr>
				<tr>
					<th class="active">料金</th>
					<td><%= @park.price %></td>
				</tr>
			</tbody>
		</table>

		<div class="col-12">
			<div class="park-content">
				<span class="box-title">About this park</span>
				<p><%= simple_format(@park.description) %></p>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="header col-12"><h5>地図</h5></div>
		<div class="input-group col-10 mb-3">
			<input id="address" type="textbox" value="<%= @park.address %>" class="form-control" aria-describedby="button-addon2">
			<div class="input-group-append">
				<input type="button" value="地図を表示" id="button-addon2" class="btn btn-outline" onclick="codeAddress()">
			</div>
		</div>
		<div class="col-10" id="map"></div>
	</div>

	<div class="row justify-content-center">
			<div class="header col-12"><h5><%= @park.name %>での動画</h5></div>
			<%= render "posts/videos", posts: @posts %>
		</div>
	</div>
</div>
