<div class="body">
	<div class="container">
		<div class="row">
			<h4><%= @park.name %></h4>
		</div>
		<div class="row justify-content-center">
			<div class="park clearfix">
				<ul>
					<%= @park.images.each do |image| %>
					<li><%= image_tag(image, width:100) %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="row">
			<p><%= @park.address %></p>
			<div id="map"></div>
			<p><%= @park.country.name %></p>
		</div>
	</div>
</div>

