<div class="container clearfix" style="height: auto;">
	<div class="row">
		<div class="park-name col-12">
			<h2><%= @park.name %>
			  <small class="text-muted">in <%= @park.country.name %></small><%= link_to '削除', park_path(@park), method: :delete, data: {confirm: "削除しますか？"}, class:"btn" %><%= link_to '編集', edit_park_path(@park), class:"btn" %></h2>
		</div>
	</div>
	<div class="row justify-content-center">
		<% if @park.images.attached? %>
			<%= @park.images.each do |image| %>
				<%= image_tag image.variant(resize: "200x200"), class:"image" %>
			<% end %>
		<% end %>
	</div>
	<div class="row">
		<div class="map col-12">
			<h5><%= @park.address %></h5>
			<div id="map"></div>
		</div>
	</div>
</div>

