<div class="body">
	<div class="container">
		<p class="notice"><%= notice %></p>
			<% if admin_signed_in? %>
				<h2>トップページ</h2>
				<div class="list">
					<ul>
					<% @skaters.each do |skater| %>
					<li><%= skater.name %>
					<%= skater.email %></li>
					<% end %>
					</ul>
				</div>
			<% else %>
			<div class="image-slide">
				<div class="image1"></div>
				<div class="image2"></div>
				<div class="image3"></div>
				<div class="image4"></div>
			</div>
			<div class="row">
				<div class="parks headline col-12">
					<h4>PARKS   <%= link_to parks_path do %><small class="link">more >></small><% end %></h4>
				</div>
				<div class="parks col-10">
					<ul class="list-unstyled">
						<% @parks.each do |park| %>
							<p><li class="park-list-item"><i class="far fa-hand-point-right"></i>   <%= park.name %> @<%= park.address %> in <%= park.country.name %></li></p>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="videos headline col-12">
					<h4>VIDEOS   <%= link_to posts_path do %><small class="link">more >></small><% end %></h4>
				</div>
				<div class="videos col-10">
					<%= render "posts/videos", posts: @posts %>
				</div>
			</div>
			<% end %>
	</div>
</div>

