<div class="body">
  <div class="container">
    <p class="notice"><%= notice %></p>
    <%= render "skaters/shared/error_messages", resource: resource %>
    <div class="row">
      <div class="form-header text-left">
        <h3>アカウント作成</h3>
      </div>
    </div>

    <div class="row">
      <div class="form col-sm-7">
        <%= form_for(resource, as: resource_name, url: skater_registration_path) do |f| %>

        <div class="form-group">
          <%= f.label :name, class:"col-form-label" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "アカウント名", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, class:"col-form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, class:"col-form-label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "パスワード", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class:"col-form-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "確認用パスワード", class:"form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "アカウント作成", class:"btn btn-primary" %>
        </div>
        <% end %><br />

        <%= render "skaters/shared/links" %>
      </div>
    </div>
  </div>
</div>
