<div class="form-horizontal col-10">
	<%= form_with model: post, local: true do |f| %>
		<%= render "layouts/error_messages", hoge: post %>

		<div class="form-group">
			<%= f.label :video, for:"upload-video" %>
			<%= f.file_field :video, id:"upload-video" %>
		</div>

		<div class="video-preview"></div>

		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title, class:"form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :caption %>
			<%= f.text_area :caption, class:"form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :park_id %>
			<%= f.collection_select :park_id, Park.all, :id, :name, include_blank: true, class:"form-control" %>
		</div>
		<div class="actions">
			<%= f.submit "Send", class:"btn btn-info col-3 float-right" %>
		</div>
	<% end %>
</div>