<div class="body">
	<div class="container">
		<p class="notice"><%= notice %></p>
		<div class="row justify-content-center">
			<div class="post col-8">
				<div class="embed-responsive embed-responsive-16by9">
					<% if @post.video.attached? %>
						<%= video_tag rails_blob_path(@post.video, disposition: "attachment"), :controls => true, class:"embed-responsive-item" %>
					<% end %>
				</div>
				<div class="row mt-1">
					<div class="profile-image col-2">
						<%= link_to skater_path(@post.skater.id) do %>
					    	<%= attachment_image_tag @post.skater, :profile_image, class:"img-fluid rounded-circle", alt: "Responsive image", fallback: "no_image.svg" %>
						<% end %>
					</div>
					<div class="post col-10 clearfix m-auto">
						<h4 class="float-left"><%= @post.title %><br/>
							<small><%= @post.skater.name %></small></h4>

						<% if @post.favorited_by?(current_skater) %>
							<%= link_to post_favorites_path(@post), method: :delete do %>
					    		<span class="text-body float-right"><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					    		<%= @post.favorites.count %></span>
					    	<% end %>
						<% else %>
							<%= link_to post_favorites_path(@post), method: :post do %>
					    		<span class="text-body float-right"><i class="fa fa-heart-o" aria-hidden="true"></i>
					    		<%= @post.favorites.count %></span>
					    	<% end %>
						<% end %>
						<span class="text-body float-right mr-3"><i class="far fa-comments"></i><%= @post.comments.count %></span>
						<% if @post.skater_id == current_skater.id %>
							<span class="text-body float-right mr-3"><%= link_to 'Edit', edit_post_path(@post), class:"btn btn-white btn-sm" %></span>
						<% end %>
					</div>
				</div>
				<div class="row ml-2">
					<p class="lead"><%= @post.caption %></p>
				</div>
			</div>
			<div class="post-comments col-md-3 col-12">
				<h5>コメント</h5>
				<div class="form-horizontal clearfix">
					<%= form_for(@comment, url: post_comments_path(@post), method: :post) do |f| %>
						<%= f.hidden_field :skater_id, value: current_skater.id %>
		  				<div class="form-group">
		      				<%= f.text_area :comment, rows:'3', class:"form-control pb-0", placeholder:"コメント入力" %>
		  				</div>
		  				<div class="actions">
		  					<%= f.button :type => "submit", class:"btn btn-outline-info btn-sm float-right mt-0" do %><i class="far fa-paper-plane"></i><% end %>
		  				</div>
					<% end %>
				</div>

				<div class="comment-body col-12 p-0">
					<% if @comments.present? %>
						<% @comments.each do |comment| %>
						<div class="row m-0">
							<div class="profile-image col-2 mt-1">
								<%= link_to skater_path(comment.skater.id) do %>
		    						<%= attachment_image_tag comment.skater, :profile_image, class:"img-fluid rounded-circle", alt: "Responsive image", fallback: "no_image.svg" %>
								<% end %>
							</div>
							<div class="post col-10 p-0 clearfix">
								<span class="text-body float-left"><%= comment.comment %></span>
								<span class="text-body float-right">by <%= comment.skater.name %></span>
							</div>
						</div>
						<% end %>
					<% else %>
						<p>コメントはありません</p>
					<% end %>
				</div>
			</div>
		</div>

		<div class="index col-10 text-left">
			<h5><%= @post.skater.name %>さんの動画</h5>
		</div>

		<div class="row">
			<%= render "posts/videos", posts: @posts %>
		</div>
	</div>
</div>