<div class="body">
	<div class="container">
		<p class="notice"><%= notice %></p>
		<div class="row justify-content-center">
			<div class="post col-8">
				<div class="post-video">
					<% if @post.video.attached? %>
						<%= video_tag rails_blob_path(@post.video, disposition: "attachment"), :controls => true, size: "640x400" %>
					<% end %>
				</div>
				<div class="row">
					<div class="profile-image col-3">
						<%= link_to skater_path(@post) do %>
		        		<%= attachment_image_tag @post.skater, :profile_image, class:"rounded-circle", size: '100x100', fallback: "no_image.jpg" %>
		        		<% end %>
		        	</div>
		        	<div class="post col-9">
		        		<div class="row">
		        		<h4><%= @post.title %></h4>
		        		<% if @post.favorited_by?(current_skater) %>
								<span class="text-body text-right"><%= link_to post_favorites_path(@post), method: :delete do %>
	    						<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
	    						<%= @post.favorites.count %> いいね
	    						<% end %></span>
						<% else %>
								<span class="text-body test-right"><%= link_to post_favorites_path(@post), method: :post do %>
	    						<i class="fa fa-heart-o" aria-hidden="true"></i>
	    						<%= @post.favorites.count %> いいね
	    						<% end %></span>
						<% end %>
						</div>
						<div class="row text-left">
							<%= link_to skater_path(@post.skater) do %><h5 class="text-body"><%= @post.skater.name %></h5><% end %>
						</div>
					</div>
				</div>
				<div class="row">
					<p class="lead"><%= @post.caption %></p>
				</div>
			</div>
			<div class="post-comments col-3">
				<section class="comments-list">
				<h5>コメント</h5>
				<p>...................</p>
				<p>...................</p>
				<p>...................</p>
				<p>...................</p>
				<p>...................</p>
				<p>...................</p>
			</div>
		</div>

		<div class="col-10 text-center">
			<h5><%= @post.skater.name %>さんの動画</h5>
		</div>

		<div class="row justify-content-center">
			<%= render "posts/videos", posts: @posts %>
		</div>
	</div>
</div>