<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2877cf98d2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Skatermap</title>
  </head>

  <body>
    <header>
      <div class="navbar" id="nav-drawer">
          <input id="nav-input" type="checkbox" class="nav-unshown">
          <label id="nav-open" for="nav-input"><span></span></label>
          <label class="nav-unshown" id="nav-close" for="nav-input"></label>
          <div id="nav-content">
            <ul class="list-unstyled">
                <!-- 管理人 -->
              <% if admin_signed_in? %>
                <li class="menu-item nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"navlink nav-link btn btn-outline-secondary btn-sm mb-1 ml-3 mr-3 mb-4" %>
                </li>
                  <!-- 会員 -->
              <% elsif skater_signed_in? %>
                <li class="nav-item">
                  <p class="mt-5"><%= attachment_image_tag current_skater, :profile_image, class:"profile-image rounded-circle ml-3", size: '50x50', fallback: "no_image.svg" %>
                  <%= current_skater.name %></p>
                </li>
                <li class="nav-item">
                  <%= link_to 'PROFILE', skater_path(current_skater.id), class:"navlink nav-link btn btn-outline-info btn-sm mb-1 ml-3 mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_skater_session_path, method: :delete, class:"navlink nav-link btn btn-outline-secondary btn-sm mb-1 ml-3 mr-3 mb-4" %>
                </li>
                <!-- ゲスト -->
              <% else %>
                <li class="nav-item"><%= link_to "アカウント作成", new_skater_registration_path, class:"navlink nav-link" %></li>
                <li class="menu-item nav-item"><%= link_to "ログイン", new_skater_session_path, class:"navlink nav-link" %></li>
              <% end %>

              <li class="menu-item nav-item"><%= link_to about_path, class:"navlink nav-link" do %><%= image_tag 'about.jpg', class:"icon", size: '18x18' %> このサイトについて<% end %></li>

              <li class="nav-item"><%= link_to posts_path, class:"navlink nav-link" do %><i class="fas fa-th"></i> みんなの動画<% end %></li>

              <li class="nav-item"><%= link_to parks_path, class:"navlink nav-link" do %><%= image_tag 'skateboard.jpeg', class:"icon" %> スケボパーク<% end %></li>

              <li class="nav-item"><%= link_to countries_path, class:"navlink nav-link" do %><i class="fas fa-globe-europe"></i> Countries<% end %></li>

              <li class="menu-item nav-item"><%= link_to skaters_path, class:"navlink nav-link" do %><%= image_tag 'skaters.jpeg', class:"icon" %> スケートボーダー<% end %></li>

              <% if skater_signed_in? %>

              <li class="nav-item"><%= link_to new_post_path, class:"navlink nav-link" do %><i class="far fa-plus-square"></i> 動画を投稿する<% end %></li>

              <li class="menu-item nav-item"><%= link_to new_park_path, class:"navlink nav-link" do %><i class="far fa-plus-square"></i> 新しいパークを登録する<% end %></li>

              <li class="nav-item ml-3">
                <%= link_to skater_followings_path(current_skater.id), class:"navlink nav-link" do %>Following<% end %>
                <% current_skater.followings.each do |following| %>
                  <%= link_to skater_path(following), class:"navlink nav-link" do %>
                    <%= attachment_image_tag following, :profile_image, class:"profile-image rounded-circle ml-3", size: '30x30', fallback: "no_image.svg" %><%= following.name %>
                  <% end %>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
          <%= link_to 'Skatermap', root_path, class:"navbar-brand" %>
          <% if admin_signed_in? %>
            <p class="navbar-text navbar-right"> ようこそ、管理人さん！ </p>
          <% elsif skater_signed_in? %>
            <%= link_to skater_path(current_skater) do %>
              <p class="navlink nav-link navbar-text navbar-right"><%= current_skater.name %></p>
              <%= attachment_image_tag current_skater, :profile_image, class:"rounded-circle navbar-right", size: '50x50', fallback: "no_image.svg" %>
            <% end %>
          <% else %>
            <%= link_to new_skater_registration_path do %>
              <p class="navlink nav-link navbar-text navbar-right">アカウント作成</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </header>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
